@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");

:root {
  --dark-blue: hsl(209, 23%, 22%);
  --very-dark-blue-bg: hsl(207, 26%, 17%);
  --light-mode-text: hsl(200, 15%, 8%);
  --light-mode-bg: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);
  --header-border-bottom: rgb(223, 223, 223);
  --dark-mode-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
}

* {
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

body {
  margin: 0;
  overflow-x: hidden;
}

.container {
  max-width: 1440px;
  margin: auto;
  padding: 0 2rem;
}

a {
  text-decoration: none;
}

header {
  border-bottom: 2px solid var(--header-border-bottom);
  background-color: var(--white);
}

header.dark {
  background-color: var(--dark-blue);
  border-bottom: 2px solid var(--very-dark-blue-bg);
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .container a h2 {
  color: #000;
  font-weight: 600;
}

header.dark .container a h2 {
  color: var(--white);
}

header .container .mode-container {
  display: flex;
  align-items: center;
  cursor: pointer;
}

header.dark .container .mode-container {
  color: var(--white);
}

header .container .mode-container h4 {
  font-weight: 300;
  margin-left: 0.5rem;
}

header .container .mode-container .empty-moon {
  display: block;
}

header.dark .container .mode-container .empty-moon {
  display: none;
}

header .container .mode-container .full-moon {
  display: none;
}

header.dark .container .mode-container .full-moon {
  display: block;
}

main {
  min-height: 100vh;
  background-color: var(--light-mode-bg);
}

main.dark {
  background-color: var(--very-dark-blue-bg);
}

main .container .form-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 0;
}

main .container .form-container .search-form {
  display: flex;
  align-items: center;
  box-shadow: 0 1px 5px hsl(215, 9%, 75%);
}

main.dark .container .form-container .search-form {
  box-shadow: var(--dark-mode-shadow);
}

main .container .form-container .search-form .search-btn,
main .container .form-container .search-form input {
  padding: 0.75rem 1rem;
  border: none;
  outline: none;
}

main .container .form-container .search-form .search-btn {
  background: var(--white);
  cursor: pointer;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

main.dark .container .form-container .search-form .search-btn {
  background: var(--dark-blue);
  color: #fff;
}

main .container .form-container .search-form .search-btn i {
  opacity: 0.4;
}

main.dark .container .form-container .search-form .search-btn i {
  opacity: 0.9;
}

main .container .form-container .search-form input {
  width: 300px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

main.dark .container .form-container .search-form input {
  background: var(--dark-blue);
  color: var(--white);
}

main .container .form-container .search-form input::placeholder {
  opacity: 0.7;
}

main.dark .container .form-container .search-form input::placeholder {
  opacity: 1;
  color: var(--white);
}

main .container .form-container .filter-form .filter {
  padding: 0.75rem 1rem;
  border: none;
  outline: none;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 1px 5px hsl(215, 9%, 75%);
}

main.dark .container .form-container .filter-form .filter {
  box-shadow: var(--dark-mode-shadow);
  background-color: var(--dark-blue);
  color: var(--white);
}

main .container .countries {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 2rem;
}

main .container .countries .country {
  height: 270px;
  width: 200px;
  background-color: var(--white);
  margin: 1.5rem;
  border-radius: 4px;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0 1px 5px hsl(215, 9%, 75%);
}

main.dark .container .countries .country {
  background-color: var(--dark-blue);
  box-shadow: var(--dark-mode-shadow);
  color: var(--light-mode-bg);
}

main .container .countries .country .country-header {
  height: 120px;
  width: 200px;
}

main .container .countries .country .country-header img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

main .container .countries .country .country-body {
  height: 150px;
  width: 225px;
  padding: 1rem;
}

main .container .countries .country .country-body h5 {
  font-weight: 600;
  font-size: 1rem;
  margin: 0;
  margin-bottom: 0.9rem;
  padding-right: 0.4rem;
  line-height: 1.1;
}

main .container .countries .country .country-body ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

main .container .countries .country .country-body ul li {
  font-size: 0.8rem;
  margin-bottom: 0.4rem;
  opacity: 0.75;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--light-mode-bg);
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}

.modal.dark {
  background-color: var(--very-dark-blue-bg);
  color: var(--white);
}

.modal .closeBtn {
  position: absolute;
  top: 25px;
  left: 25px;
  font-size: 0.95rem;
  border: none;
  outline: none;
  background-color: transparent;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  padding: 0.75rem 1.5rem;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.modal.dark .closeBtn {
  background-color: var(--dark-blue);
  color: var(--white);
}

.modal .closeBtn i {
  margin-right: 0.3rem;
  font-size: 1.1rem;
}

.modal .single-country {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 2rem;
}

.modal .single-country img {
  width: 500px;
  height: 350px;
  object-fit: cover;
  margin-right: 10rem;
}

.modal .single-country .single-country-text h2 {
  margin-bottom: 2rem;
  font-size: 1.75rem;
  line-height: 1.1;
}

.modal .single-country .single-country-text .list-container {
  display: flex;
}

.modal .single-country .single-country-text .list-container ul {
  margin: 0;
  padding: 0;
}

.modal .single-country .single-country-text .list-container .left-side {
  margin-right: 3rem;
}

.modal .single-country .single-country-text .list-container ul li {
  list-style-type: none;
  opacity: 0.7;
  margin-bottom: 0.6rem;
  font-size: 0.95rem;
}

.modal .single-country .single-country-text .borders {
  margin: 0;
  padding: 0;
  margin-top: 2rem;
}

.modal .single-country .single-country-text .borders li {
  list-style-type: none;
  opacity: 0.7;
  word-break: break-all;
}

.attribution{
  background-color: #202C37;
  color: #fff;
  padding: 1rem;
  text-align: center;
  font-size: 0.75rem;
}

.attribution a{
  color: #fff;
  font-size: 0.9rem;
}

@media (max-width: 1200px) {
  .modal .single-country {
    flex-direction: column;
  }

  .modal .single-country img {
    width: 400px;
    height: 300px;
    margin-right: 0;
    margin-top: 4rem;
  }
}

@media (max-width: 600px) {
  header .container {
    flex-direction: column;
  }

  main .container .form-container {
    flex-direction: column;
    align-items: start;
  }

  main .container .form-container .search-form {
    margin-bottom: 2rem;
  }

  main .container .form-container .search-form input {
    width: 200px;
  }

  .modal .single-country img {
    width: 300px;
    height: 225px;
  }

  .modal .single-country .single-country-text .list-container {
    flex-direction: column;
  }
}

@media (max-width: 400px) {
  .modal .single-country img {
    width: 250px;
    height: 175px;
  }
}
